In [2]:
#Importing required libraries
import pandas as pd
import numpy as np

Task 1 - Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [6]:
#Creating 4 numpy series with 4 elements in the range of 1 to 50 
s1 = pd.Series(np.random.randint(1,50,4))
s2 = pd.Series(np.random.randint(1,50,4))
s3 = pd.Series(np.random.randint(1,50,4))
s4 = pd.Series(np.random.randint(1,50,4))

In [8]:
s1, s2, s3, s4

(0    45
 1    34
 2    32
 3    17
 dtype: int64,
 0     3
 1     5
 2     8
 3    21
 dtype: int64,
 0    20
 1     6
 2    21
 3     7
 dtype: int64,
 0    49
 1    40
 2    17
 3    27
 dtype: int64)

In [10]:
#Creating DataFrame
df = pd.DataFrame([s1,s2,s3,s4])
df

    0   1   2   3
0  45  34  32  17
1   3   5   8  21
2  20   6  21   7
3  49  40  17  27

Task 2 - Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [11]:
df.columns = ['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0              45              34              32              17
1               3               5               8              21
2              20               6              21               7
3              49              40              17              27

Task 3 -Find the descriptive statistics of the 'df' dataframe.

In [13]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000         4.00000        4.000000        4.000000
mean        29.250000        21.25000       19.500000       18.000000
std         21.700614        18.35529        9.949874        8.406347
min          3.000000         5.00000        8.000000        7.000000
25%         15.750000         5.75000       14.750000       14.500000
50%         32.500000        20.00000       19.000000       19.000000
75%         46.000000        35.50000       23.750000       22.500000
max         49.000000        40.00000       32.000000       27.000000

Task 4 - Check for the null values in 'df' and find the data type of the columns.

In [14]:
#Getting boolean for each row and column in df to find if it is NaN or not
df.isnull()

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [15]:
#Getting no. of NaN for each column in df
df.isnull().sum()

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [21]:
#Datatype of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random Value 1  4 non-null      int64
 1   Random Value 2  4 non-null      int64
 2   Random Value 3  4 non-null      int64
 3   Random Value 4  4 non-null      int64
dtypes: int64(4)
memory usage: 256.0 bytes

Task 5 - Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [22]:
#Displaying using actual name of the columns
df.loc[:,'Random Value 2':'Random Value 3']

   Random Value 2  Random Value 3
0              34              32
1               5               8
2               6              21
3              40              17

In [23]:
#Displaying using index of the columns
df.iloc[:,1:3]

   Random Value 2  Random Value 3
0              34              32
1               5               8
2               6              21
3              40              17

In [33]:
df.drop([5],axis=0)

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0              45              34              32              17
1               3               5               8              21
2              20               6              21               7
3              49              40              17              27
5              34              64              34              12